/*шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
}
p {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 15px;
}

.container{
  background-image: url('./img/bg.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flex { /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* весь контент, распологающийся до волны */
.header {
  position: relative;
  text-align: center;

  color: white;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

.header__logo{
  margin-top: 10px;
}

/* стили карточки */
.card{
  border: solid 0px;
  border-radius: 10px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 10px 30px 15px rgba(0,255,255,0.7),
  1px 2px 4px 0px rgba(0,255,255,0.7),
  2px 4px 8px 0px rgba(0,255,255,0.7),
  2px 4px 16px 0px rgba(0,255,255,0.7);
  background-image: linear-gradient(241deg, rgb(000, 000, 000, 0.4) 0% ,rgb(136, 118, 236, 0.8) 100%)
}

.card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.counter{
  margin-top: 10px; 
  text-align: left;
}

.card-number{
  display: flex;
  flex-direction: row;
  margin-top: 35px; 
  justify-content: space-around;
  align-items: center
}

.card-number__item{
  display: flex;
  flex-direction: row;
}

.card-number__value{
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
}

.dots{
  margin-right: 5px
}

.card-down{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 34px;
}

/* стили input */
.form-input{
  position: relative;
}

.form-input__control{
  padding: 17px;
  width: 340px;
  border-radius: 10px;
  border: none;
  margin-top: 100px;
  background-color: rgb(0,0,0);
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 10px;
  opacity: 0.7;
  box-shadow: 0px 10px 30px 15px rgba(0,255,255,0.7),
  1px 2px 4px 0px rgba(0,255,255,0.7),
  2px 4px 8px 0px rgba(0,255,255,0.7),
  2px 4px 16px 0px rgba(0,255,255,0.7);
}

.form-input__btn{
  position: absolute;
  height: 43px;
  right: 6px;
  padding: 12px;
  background: rgba(0,255,255,0.7);
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 10px;
  top: 100px;
  right: 2px;
  border-radius: 10px;
}

/* волны */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
/* футер */
.footer{
  text-align: center;
}

.rdmap{
  display:flex;
  flex-direction: row;
  margin-top: 60px;
  width: 90%;
  justify-content: space-between;
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 10px;
  position: relative;
}

.circle-container{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grey{
  color: grey;
}

.circle-rnmap{
  position: relative;
  background-color: black;
  border: 4px solid rgba(0, 255, 255, 0.5);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.circle-rnmap2{
  position: relative;
  background-color: black;
  border: 4px solid rgba(000, 000, 000, 0.3);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.circle-rnmap3{
  position: relative;
  background-color: black;
  border: 4px solid rgba(000, 000, 000, 0.3);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.circle-rnmap4{
  position: relative;
  background-color: black;
  border: 4px solid rgba(000, 000, 000, 0.3);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.circle-rnmap-num{
  position: absolute;
  top: 18px;
  left: 18px;
}

.circle-rmap-text{
  margin-top: 10px;
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 7px;
}

.progress{
  position: absolute;
  width: 32%;
  position: absolute;
  top: 30px;
  left: 10px;
  height: 8px;
  background: rgba(0, 255, 255, 0.7);
}

.progress2{
  position: absolute;
  width: 32%;
  position: absolute;
  top: 30px;
  left: 80px;
  height: 8px;
  background: grey;
}

.progress3{
  position: absolute;
  width: 32%;
  position: absolute;
  top: 30px;
  left: 200px;
  height: 8px;
  background: grey;
}

.nav-menu {
    height: 65px;
    border-radius: 10px;
    width: 97%;
    margin-top: 72px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -5px 10px 5px rgba(0, 255, 255, 0.5), 1px 2px 4px 0px rgba(0, 255, 255, 0.3), 2px 4px 8px 0px rgba(0, 255, 255, 0.2);
}

.nav-menu_cnt{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nav-menu_btn{
  width: 60px;
  height: 60px;
  border: 0px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(111,111,111,0.5), 
  0px 2px 4px rgba(111,111,111,0.1),
  0px 4px 8px rgba(111,111,111,0.1),
  0px 8px 16px rgba(111,111,111,0.1);
}

.link-menu{
  text-align: center;
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 7px;
}

.nav-img{
  margin-top: 10px;
}

a.disabled {
  pointer-events: none;
}

@media screen and (max-height: 768px){
  .inner-header {
    height: 65vh !important;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  .rdmap {
    display: flex;
    flex-direction: row;
    margin-top: 60px !important;
    width: 90%;
    justify-content: space-between;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10px;
    position: relative;
  }

  .nav-menu {
    margin-top: 40px !important;
  }

  .footer {
    height: -10px;
    text-align: center;
  }
}


@media screen and ( min-height: 768px) and (max-height: 900px){
  .inner-header {
    height: 69vh;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  .rdmap {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    width: 90%;
    justify-content: space-between;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10px;
    position: relative;
  }

  .nav-menu {
      margin-top: 135px;
  }

  .circle-rmap-text {
    margin-top: 10px;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10px;
  }

  .nav-menu_btn {
    width: 67px;
  }

  .link-menu {
    text-align: center;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 8px;
  }

  .footer {
    height: 280px;
    text-align: center;
  }
}

@media screen and ( min-height: 900px) and (max-height: 933px){
  .inner-header {
    height: 69vh;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  }

  .rdmap {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    width: 90%;
    justify-content: space-between;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10px;
    position: relative;
  }

  .link-menu {
    text-align: center;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 8px;
  }

  .nav-menu {
      margin-top: 145px;
  }

  .nav-menu_btn {
    width: 67px;
  }

  .footer {
    height: 290px;
    text-align: center;
  }
}