/*шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
}
p {
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 15px;
}

.container{
  background-image: url('./img/bg.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flex { /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* весь контент, распологающийся до волны */
.header {
  position: relative;
  text-align: center;

  color: white;
}

.inner-header {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}


@media screen and (min-height: 600px){
  div[data-tc-button="true"]{
    margin-top: 50%;
  }

  [data-tc-icon-button="true"]{
    width: 40px;
    height: 40px;
  } 

  [data-tc-wallet-item="true"]{
    width: 90%;
    height: 700px;
  }

  [data-tc-wallets-modal-universal-mobile="true"]{
    width: 800px;
  }

  [data-tc-modal="true"]{
    display: block;
    widght: 300px;
  }
}
/* button[data-tc-button="true"] {
  width: 600px;
  height: 131px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px -5px 10px 5px rgba(0, 255, 255, 0.5), 1px 2px 4px 0px rgba(0, 255, 255, 0.3), 2px 4px 8px 0px rgba(0, 255, 255, 0.2);
  font-family: "Press Start 2P", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (min-height: 600px){

  [data-tc-wallets-modal-universal-mobile="true"]{
    height: 1200px;
    width: 800px
  }

[data-tc-wallets-modal-universal-mobile="true"]{
  height: 1200px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 24px;
 }
} */