<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Interactive Sign Up Form</title>
   <link rel="stylesheet" href="/static/style.css">
   <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
        <button id="ton-connect" сlass="ton-cnt-btn" style="height: 60px; background:  rgba(111,111,111,0.1); align-items: center;"></button>
    </div> 
  </div>
  <script src="/static/js/happy.js"></script>
</body>
</html>