<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="/static/index.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="header">
    <!--Content before waves-->
      <div class="inner-header flex">
        <img src="/static/img/logo-BEHAPPY.PNG" alt="logo-BEHAPPY" height="120" class="header__logo">
        <div class="card">
          <div class="card-top">
            <p>Current Balance</p>
            <img src="/static/img/logo-visa.png" alt="visa" height="30">
          </div>
          <div class="counter"> 
            <h1>$ 1 000 000</h1>
          </div>
          <ul class="card-number">
            <li class="card-number__item">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
            </li>
            <li class="card-number__item ">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
            </li>
            <li class="card-number__item ">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
              <img src="/static/img/Ellipse 7.png" alt="" height="10" class="dots">
            </li>
            <li class="card-number__item ">
              <div class="card-number__value dots">1</div>
              <div class="card-number__value dots">2</div>
              <div class="card-number__value dots">3</div>
              <div class="card-number__value dots">4</div>
            </li>
          </ul>
          <div class="card-down">
            <p>Happy bank</p>
            <p>09/23</p>
          </div>
      </div>
      <form style="position: relative;">
        <input class="form-input__control" type="text" id="inputSearch" placeholder="Введите промокод">
        <button class="form-input__btn" type="submit">Отправить</button>
      </form>
    </div>
  <!--Waves Container-->
    <!-- <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:waves="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
      </svg>
    </div> -->
  <!--Waves end-->
    <div class="footer flex">
        <div class="nav-menu">
          <ul class="nav-menu_cnt">
            <li class="nav-menu_btn">
              <a href="#">
                <img src="" alt="">
              </a>
            </li>
            <li class="nav-menu_btn">
              <a href="#">
                <img src="" alt="">
              </a>
            </li>
            <li class="nav-menu_btn">
              <a href="#">
                <img src="" alt="">
              </a>
            </li>
            <li class="nav-menu_btn">
              <a href="#">
                <img src="" alt="">
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>  
</body>
</html>